.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.navColor {
  color: #6f453f;
  font-family: 'Cinzel Decorative', cursive;
}
.nav-pills .pillBackground.active {
  background-color: #6f453f;
  font-family: 'Cinzel Decorative', cursive;
}
.jumbotron {
  margin-top: 15px;
  background-image: url("../images/herefordcover.jpg");
  background-size: cover;
  opacity: 0.5;
  min-height: 300px;
}
#title {
  color: #6f453f;
  position: absolute;
  text-align: left;
  left: 2.5%;
  top: 60%;
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
}
.quote {
  font-style: italic;
  margin-left: 5%;
  color: #6f453f;
  top: 150px;
  text-align: left;
  font-weight: bold;
}
.top {
  position: relative;
}
h1 {
  font-weight: bold;
}
#full {
  background: #c4b4b2;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -45px;
}
.mid {
  width: 65%;
  float: left;
  margin-left: 50px;
  /* background: #c4b4b2; */
}
.news {
  width: 35%;
  float: right;
  margin-left: 80px;
  padding-left: 50px;
  /* background: #c4b4b2; */
}
h2, h3, h4 {
  font-family: 'Cinzel Decorative', cursive;
}

.footer {
  background: #6f453f;
  color: #f6eff6;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  line-height: 50px;
  margin-top: 15px;
  font-family: 'Cinzel Decorative', cursive;
}