.navColor {
  color: #6f453f;
  font-family: 'Cinzel Decorative', cursive;
}
.nav-pills .pillBackground.active {
  background-color: #6f453f;
  font-family: 'Cinzel Decorative', cursive;
}
.jumbotron {
  margin-top: 15px;
  background-image: url("../images/herefordcover.jpg");
  background-size: cover;
  opacity: 0.5;
  min-height: 300px;
}
#title {
  color: #6f453f;
  position: absolute;
  text-align: left;
  left: 2.5%;
  top: 70%;
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
}
.quote {
  font-style: italic;
  margin-left: 5%;
  color: #6f453f;
  top: 150px;
  text-align: left;
  font-weight: bold;
}
.top {
  position: relative;
}

h1 {
  font-weight: bold;
}